@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Hello, Welcome!!</h1>
    <p>Welcome! Final Project BDAT 1001</p>
    <p>
        ➢ Registered users can view all the approved data and can edit/delete their own data.
    </p>
    <p>
        ➢ Managers can approve or reject contact data. Only approved contacts are visible to users.
    </p>
    <p>
        ➢ Administrators can approve/reject and edit/delete any data.
    </p>
    
</div>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            background-color: #ffffff;
        }

        

        /* Alternate blue shade color to table rows */
        
    </style>
</head>
<body>

    <h2>Team Members</h2>

    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr>
            <td>Ritin Patel</td>
        </tr>
        <tr>
            <td>Richie George Thomas</td>
        </tr>
        <tr>
            <td>Gokul Shrivastav</td>
        </tr>
        <tr>
            <td>Fizaben Vahora</td>
        </tr>
    </table>

</body>
</html>

